<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
</head>
<body>
  <style>
    #deleteForm{
      visibility: hidden;
    }
  </style>
  <!-- <script>
    function handleDelete(e){
      console.log(" id ==> ",  e.target.id)
      const idGroupDelete = e.target.id
      const url = '/groupe/' + idGroupDelete
      // fetch(url)
    }
  </script> -->
  <main>
    <header>
      <%- include("../layout/header") -%>
    </header>
    <section>
      <div>
        <h2>All Groups</h2>
        <ul>
          <% for(let datas of data) { %>
            <li><%= datas.name %> (<%= datas.number %>) 
              <form method="post" action="/group/delete" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="_method" value="<%= datas.name %>">
                <input type="submit" value="delete">
              </form>
            </li>
          <% } %>
        </ul>
      </div>
      <div>
        <form method="POST" action="/group">
          <label for="name">Projet Name</label>
          <input id="name" type="text" placeholder="Projet Name" name="projet">
          <label for="group">Number Membre</label>
          <input id="group" type="number" placeholder="Group Name" name="number">
          <input type="submit" value="valider">
        </form>
      </div>
    </section>
  </main>
  <script src="../../js/client.js"></script>
</body>
</html>